<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form th:action="@{/signup}" method="post" >
  email : <input type="text" name="name"><br>
  password : <input type="password" name="password"><br>
  role :
  <label><input type="checkbox" name="roles" value="ROLE_ADMIN">admin</label>
  <label><input type="checkbox" name="roles" value="ROLE_MEMBER">member</label>
  <label><input type="checkbox" name="roles" value="ROLE_NOTHING">nothing</label>
  <br>
  <button type="submit">register</button>

</form>
</body>
</html>